body {
  font-family: verdana, sans-serif;
  font-size: 16px;
  margin: 0;
}
h1 {
  font-size: 44px;
}
button {
  font-size: 20px;
  background: #F36D21;
  padding: 15px 10px;
  min-width: 120px;
  border-radius: 5px;
  border: solid 2px #FFF;
  cursor: pointer;
  margin: 10px 15px;
  color: #FFFFFF;
}

/* Lesson Sections */
.lesson-section {
  margin: 40px 0;
  width: 100%;
  padding: 0;
  color: #272E39;
}
.lesson-section-header {
  margin: 15px 0 30px 0;
  padding: 0 15px 20px 15px;
  border-bottom: solid 6px #54595F;
}
.lesson-section-title {
  font-family: verdana, sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #272E39;
}
.lesson-section-intro {
  font-size: 18px;
}

/* WordScan */
.wordscan-word {
  display: inline-block;
  box-sizing: border-box;
  width: 46%;
  min-width: 320px;
  padding: 15px;
  margin: 2%;
  background: #209FBF;
}

/* FlashCards */
.flashcard {
  display: inline-block;
  width: 50%;
  height: 250px;
  overflow: hidden;
  background: #DE2026;
  box-sizing: border-box;
  padding: 15px;
  cursor: pointer;
}
.flashcard:hover {
  background: #DE2026F5;
}
.flashcard h2 {
  font-size: 32px;
  color: #424242;
  font-family: verdana, sans-serif;
  font-weight: bold;

}

.flashcard-up, .flashcard-down {
  display:none;
}
.flashcard-active {
  display: block;
}



@media only screen and (max-width: 600px) {

  .wordscan-word {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    background: #209FBF;
  }

}
