body {
  font-family: verdana, sans-serif;
  font-size: 16px;
  margin: 0;
}
h1 {
  font-size: 44px;
}
button {
  font-size: 20px;
  background: #F36D21;
  padding: 15px 10px;
  min-width: 120px;
  border-radius: 5px;
  border: solid 2px #FFF;
  cursor: pointer;
  margin: 10px 15px;
  color: #FFFFFF;
}

/* Lesson Single Tabs */
.lesson-single-tabs {
  width: 100%;
  padding: 30px 30px 0 30px;
  background: #14699A;
}
.lesson-single-tabs h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 40px;
  color: #FFFFFF55;
}
.lesson-single-tabs ul {
  padding: 0;
  margin: 0;
}
.lesson-single-tabs li {
  display: inline-block;
  padding: 15px 25px;
  margin: 0;
  min-width: 120px;
  cursor: pointer;
  border: solid 2px #FFFFFF55;
  border-bottom: none;
  color: #FFFFFFD5;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px 8px 0 0;
}
.lesson-single-tabs li.active {
  background: #148642;
  color: #FFFFFF;
}
.lesson-single-tabs li:hover {
  background: #F36D21;
  color: #FFFFFF;
}

/* Lesson Sections */
.lesson-section {
  margin: 40px 0;
  width: 100%;
  padding: 0;
  color: #272E39;
  background: #0000001A;
}
.lesson-section-header {
  margin: 15px 0 30px 0;
  padding: 25px 15px 25px 15px;
  border-bottom: solid 6px #54595F;
  background: #FFFFFF22;
}
.lesson-section-title {
  font-family: verdana, sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #272E39;
}
.lesson-section-intro {
  font-size: 18px;
}

/* WordScan */
.wordscan-word {
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  padding: 15px;
  background: #209FBF;
}

/* FlashCards */
.lesson-section-flashcards {
  display: none;
}
.flashcard {
  display: inline-block;
  width: 50%;
  height: 250px;
  overflow: hidden;
  background: #DE2026;
  box-sizing: border-box;
  padding: 15px;
  cursor: pointer;
}
.flashcard:hover {
  background: #DE2026F5;
}
.flashcard h2 {
  font-size: 32px;
  color: #424242;
  font-family: verdana, sans-serif;
  font-weight: bold;

}

.flashcard-up, .flashcard-down {
  display:none;
}
.flashcard-active {
  display: block;
}

/*
 * Word Selection Exercise
 */
.lesson-section-word-selection {
  display: none;
}

/*
 * Lesson Single Footer
 */
.lesson-single-footer {
  margin: 120px 0 35px 0;
  background: #4E8C3F;
  color: #FFFFFF;
  padding: 40px 25px;
  font-size: 20px;
  text-align: center;
}
.lesson-single-footer button {
  color: #272E39;
  background: #FFFFFF1A;
  border: none;
  border-radius: 0;
  padding: 35px 50px;
}
.lesson-single-footer button:hover {
  background: #FFFFFF2A;
}



@media only screen and (max-width: 600px) {

  .wordscan-word {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin: 0;
    background: #209FBF;
  }

}
